<div id="summoner-page" ng-init="summoner.init()">
    <form>
        <div id="search-form">
            <div class="input-group" role="group" aria-label="">
                <input autofocus class="form-control" placeholder="Summoner" type="text"
                       ng-model="summoner.usernameInput"/>

                <div class="input-group-btn">
                    <button id="region-dropdown" type="button" dropdown-toggle class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">{{summoner.regions[summoner.region]}} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li ng-repeat="(code, region) in summoner.regions"><a ng-click="summoner.region = code">{{region}}</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div isteven-multi-select
                 input-model="summoner.queueTypes"
                 output-model="summoner.selectedQueueType"
                 item-label="name"
                 button-label="name"
                 tick-property="ticked"
                 selection-mode="single"
                 helper-elements="none"
                 class="select-fullsize">
            </div>

            <div isteven-multi-select
                 input-model="summoner.champions"
                 output-model="summoner.selectedChampions"
                 item-label="name"
                 button-label="name"
                 tick-property="ticked"
                 selection-mode="multiple"
                 helper-elements="filter none"
                 max-height="350px"
                 max-labels="2"
                 translation="summoner.championSelectLabels"
                 on-item-click="summoner.selectChampion(data)"
                 class="select-fullsize">
            </div>

            <input type="submit" ng-click="summoner.retrievePageData()"/>
        </div>
    </form>
    <div>
        <div ng-if="summoner.summonerError">
            <div class="alert alert-warning alert-dismissable" role="alert">
                <button type="button" class="close" data-dismiss="alert">x</button>
                <span ng-bind="summoner.summonerError"></span>
            </div>
        </div>
    </div>
</div>