<div class="header-statistics"></div>

<div id="statistics">
    <div class="sticky-bar sticky-bar-height">
        <div class="container">
            <div class="row margin-top-20">
                <div class="col-sm-4">
                    <a ui-sref='landingspage'>
                        <img class="landingspage-logo" src="app/statistics/logo_100px.png" width="40px" height="40px" />
                    </a>
                </div>
                <div class="col-sm-4" id="summoner-select">
                    <div ng-include="'app/shared/summoner-select.html'" ng-controller="SummonerPageCtrl as summoner"></div>
                </div>
                <div class="col-sm-4" id="filter-text">
                    <div ng-if="statistics.rawMatchDetails.length !== 0">
                        <span ng-if="statistics.rawMatchDetails.length !== statistics.matchDetails.length">
                            {{ statistics.matchDetails.length }} out of {{ statistics.rawMatchDetails.length }} games shown: <a ui-sref="soloStatistics(statistics.summonerSelection)" ui-sref-opts="{inherit: false}">reset filters</a>
                        </span>
                        <span ng-if="statistics.rawMatchDetails.length === statistics.matchDetails.length">
                            {{ statistics.matchDetails.length }} games shown
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="loading" ng-if="statistics.loading"></div>
    <div class="notification error" ng-if="statistics.errorMessage" ng-bind="statistics.errorMessage"></div>

    <div class="container statistics-container">
        <div ng-if="statistics.matchDetails.length >= statistics.minimumGames">
            <div ng-include="statistics.template.matchSlider" ng-controller="MatchSliderCtrl as matchSlider" class="col-sm-12"></div>
            <div class="row">
                <div ng-include="statistics.template.bestTimePeriod" ng-controller="BestTimePeriodCtrl as bestTimePeriod" id="widget-bestTimePeriod" class="col-sm-12 text-center"></div>
            </div>
            <div class="row">
                <div ng-include="statistics.template.bestLane" ng-controller="BestLaneCtrl as bestLane" id="widget-bestLane" class="col-sm-6"></div>
                <div ng-include="statistics.template.mostWins" ng-controller="BestChampCtrl as bestChamp" id="widget-bestChamp" class="col-sm-6"></div>
            </div>
            <div class="row">
                <div ng-include="statistics.template.bestPatch" ng-controller="BestPatchCtrl as bestPatch" id="widget-bestPatch" class="col-sm-6"></div>
                <div ng-include="statistics.template.bestTeam" ng-controller="BestTeamCtrl as bestTeam" id="widget-bestTeam" class="col-sm-6"></div>
            </div>
        </div>
    </div>
</div>
