<div class="notification" ng-if="statistics.loading">
    Loading...
</div>

<div class="notification error" ng-if="statistics.errorMessage" ng-bind="statistics.errorMessage"></div>

<div ng-if="statistics.matchDetails.length >= statistics.minimumGames">
    <div ng-include="statistics.template.matchSlider" ng-controller="MatchSliderCtrl as matchSlider"></div>

    <div ng-include="statistics.template.bestLane" ng-controller="BestLaneCtrl as bestLane" id="widget-bestLane"></div>
    <div ng-include="statistics.template.mostWins" ng-controller="BestChampCtrl as bestChamp" id="widget-bestChamp"></div>

    <div ng-include="statistics.template.bestPatch" ng-controller="BestPatchCtrl as bestPatch" id="widget-bestPatch"></div>
    <!--<div ng-include="statistics.template.maingraph" ng-controller="MaingraphCtrl as maingraph"></div>-->
</div>