div#statistics div.sticky-bar {
    background: #337ab7;
    top: 0;
    width: 100%;
    z-index: 100;
    position: fixed;
}

div#statistics div.sticky-bar a .landingspage-logo {
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
}
div#statistics div.sticky-bar div#filter-text {
    color: #fff;
    text-align: right;
}
div#statistics div.sticky-bar div#filter-text > div {
    display: table;
    width: 100%;
}
div#statistics div.sticky-bar div#filter-text > div > span {
    display: table-cell;
    vertical-align: middle;
}
div#statistics div.sticky-bar div#filter-text a {
    color: #fff;
}

div#statistics div.sticky-bar div#summoner-select {
    padding-top: 13px;
}

div#statistics div.sticky-bar-height {
    height: 60px;
}

div#statistics .statistics-container {
    margin-bottom: 50px;
    background: #eee;
}

div#statistics div.loading {
    background: url('loading.gif') no-repeat center;
    background-size: 250px 250px;
    height: 250px;
}

div#statistics div.notification {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

div#statistics div.error {
    color: #b00;
}